/*
 * Application stylesheet
 */

body {
  padding-top: 130px; /* Move body of page below the Bootstrap navbar. */
}


img.Logo {
  width: 100px;
  height: 100px;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;

}

.navbar {
  background-color: black;
  color: grey;
}

.nav>li>a {
  color: gray;
}

a.navbar-brand {
  color: gray;
}

h1 {
  color: black;
}